p {
	font-size: 12px;
}

img {
	display: block;
	height: 400px;
        margin: auto;
}

.title {
	font-size: 25px;
	font-family: serif;
	font-weight: bold;
	color: #dff0d8;
	display: block;
	height: 50px;
	width: 200px;
	float: left;
	margin-left: 80px;
}

.date {
	color: #d9edf7;
	float: right;
	margin-right: 80px;
	border: 1px solid #dff0d8;
	text-align: center;
	padding-right: 40px;
	padding-left: 40px;
	
}

.break {
	display: block;
}

.day {
	font-size: 16px;
}

.textofblog {
	font-size: 13px;
	font-family: serif;
	float: left;
	clear: left;
	margin-left: 80px;
	margin-right: 80px;
}

.footer {
	clear: both;
	font-size: 8px;
	font-family: serif;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 80px;
	margin-right: 80px;
	border-bottom: 1px solid black;

}
